#userAgreement{
  .toptitle{
    text-align: center;
  }
  .bpolicy-wp{
    padding: 16px 16px 8px;
  }
  .bp-h{
    color: #000;
    font-size: 15px;
    margin-bottom: 8px;
    padding: 0 8px;
  }
  .title-marginTop{
    margin-top: 16px;
  }
  .sec-bp-h{
    margin-bottom: 8px;
    padding: 0 8px;
  }
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
    text-decoration: none;
    color: #007DFF;
    margin: 0 2px;
  }
}
