/*用户中心页面*/
#UserCenter{
  /*基本信息*/
  #basicMsg{
    height:140px;
    background-image: url(../../../../static/main/profile-bg.png);
    background-color: #f1f5fa;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 51px;
    .photo{
      text-align: center;
      padding-top: 23px;
      padding-bottom: 5px;
      img{
        width:65px;
        height:65px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    .toDetail{
      text-align: center;
      font-size: 20px;
      vertical-align: middle;
      .arrow{
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url(../../../../static/main/arrow.png);
        background-repeat: no-repeat;
        background-position: -4px -2px;
        background-size: 100% auto;
        vertical-align: middle;
      }
    }
  }
  /*订单信息*/
  #orderMsg{
    .mint-tabbar{
      position: initial;
    }
    .mint-cell-wrapper{
      padding: 0px 15px;
      font-size: 14px;
    }
  }
  /*信息列表*/
  #msgList{
    background: #fff;
    .mint-cell-wrapper{
      padding: 0px 15px;
      font-size: 14px;
    }
  }
  /*公共*/
  section{
    margin-bottom: 5px;
  }
}
